.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-row-gap: 1.5rem;
  justify-items: center;

  @include respond($bp-3) {
    grid-column: 1 / -1;
    padding: 4rem;
  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-row-gap: 5vh;
    grid-column-gap: 1.5rem;
    align-items: center;

    @include respond($bp-3) {
      grid-template-columns: repeat(3, min-content max-content);
      grid-column-gap: 2.5rem;
    }
    @include respond($bp-4) {
      grid-template-columns: min-content max-content;

      grid-column-gap: 2.5rem;
    }
  }

  &__img {
    width: 7rem;
    height: 7rem;
    display: block;
    border-radius: 50%;
  }

  &__sold {
    color: $color-grey-light-2;
    margin-top: -0.3rem;
    font-size: 1.2rem;
  }
}
